* { 
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;                    
  margin: 0 auto;  
/*  background-color: red; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/*****************
HMAIN HEADER
******************/

.main_header{
  background-color: #8585e0;
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  height: auto;
  text-align: center;
  border-bottom: 2px solid orange;
}


.header_logo {
  color: white;
  font-size: 2em;
 /* margin-left: 10px;*/
 /* padding: 10px;*/
  /*float: left;*/
}

.sign1 {
  font-weight: 900;
}

.sign2 {
  font-weight: 100;
  font-size: 1.35em;
  color: orange;
}

.sign {
  font-weight: 100;
}

.header_nav {
  list-style: none;
 /* float: right;*/
  margin-top: -30px;
/*  margin-top: -1px;*/
}

.header_nav li {
  display: inline-block;
  /*padding: 20px;*/
}

.header_image {
  background: url("../img/profile1.jpg") no-repeat center;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid white;
  position: relative;
  top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  transition: .2s;
 
}

.header_image:hover {
 transform: scale(1.2, 1.2);
}



.bell{
   position: relative;
   top: 10px;
   right: 5px;
   width: 30px;
}

.greenDot img {
  width: 7px;
  position: relative;
  bottom: 20px;
  right: 5px;

}
.name1 {
  color: white;
  margin-bottom: 20px;
  font-size: 1.3em;
}

.divider {
  font-size: 3em;
  font-weight: 100;
  color: black;
  position: relative;
  top: 5px;
}


/*****************
SIDE NAV
******************/
.side_nav {
  display: inline-block;
  list-style: none;
  background-color:  #5c5c8a;
  height: 100vh;
  width: 70px;
  position: fixed;
  border-right: 2px solid orange;

}


.side_navList {
   list-style: none;
 
}

.highlight1 {
  margin-top: 200px;
}

.highlight{
 width: 100%;
padding: 15px;
}


.highlight:hover {
  border-left: 2px solid orange;
  background-color: grey;
}

/*****************
WRAPPER - MAIN DIV

******************/

#wrapper {
 /* background-color: red;*/
 
}

/** Dashboard **/

.dash {
  padding-top:  180px;
  padding-right: 50px;
  padding-left: 100px

}

/*****************
SEARCH FIELD
******************/

.searcher {
  background-color: grey;
  padding-left: 100px
}


input[type="text"] {
    width: 80%;
    height: auto;
    font-size: 1.5em;
    background-color: white;
    border-radius: 4px;
    margin: 15px 0;
  
}

::-webkit-input-placeholder {
   color: grey;
   font-size: .7em;
   padding-left: 2px;
}

:-moz-placeholder { /* Firefox 18- */
   color: grey; 
   font-size: .7em; 
   padding-left: 2px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: grey; 
   font-size: .7em; 
   padding-left: 2px;
}

:-ms-input-placeholder {  
   color: grey;  
   font-size: .7em;
   padding-left: 2px;
}

.lorem  {

  padding-right: 50px;
  padding-left: 100px

}

/* Alert */

.alert {
  background-color: #8585e0;
  width: 70%;
  margin-left:  100px;
  border-radius: 10px;
  height: auto;
}

.alert p {
  color: white;
  font-size: .9em;
  padding: 10px;
}





















