* { 
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', sans-serif;                    
  margin: 0 auto;   
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



/*****************
HMAIN HEADER
******************/

.main_header{
  background-color: #8585e0;
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  height: auto;

}

.main_header.header_logo,
.main_header.header_nav {
  display: inline-block;
}

.header_logo {
  color: white;
  font-size: 1.4em;
  margin-left: 10px;
  padding: 10px;
  float: left;
}

.sign1 {
  font-weight: 900;
}

.sign2 {
  font-weight: 100;
  font-size: 1.35em;
  color: orange;
}

.sign {
  font-weight: 100;
}

.header_nav {
  list-style: none;
  float: right;
  margin-right: 20px;
  margin-top: -1px;
}

.header_nav li {
  display: inline-block;
  /*padding: 20px;*/
}

.header_image {
  background: url("../img/profile1.jpg") no-repeat center;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: 1px solid white;
  position: relative;
  top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.bell{
   position: relative;
   top: 10px;
   right: 5px;
   width: 30px;
}

.greenDot img {
  width: 7px;
  position: relative;
  bottom: 20px;
  right: 5px;
}
.name1 {
  color: white;
  margin-bottom: 20px;
}

.divider {
  font-size: 3em;
  font-weight: 100;
  color: black;
  position: relative;
  top: 5px;
}
/*****************
SEARCH FIELD
******************/

.searcher {
  background-color: white;
   margin-top: 80px;
}


input[type="text"] {
    width: 50%;
    height: auto;
    font-size: 1.5em;
    background-color: red;
    border-radius: 4px;
    margin: 15px;
  
}

/*****************
SIDE NAV
******************/
.side_nav {
  display: inline-block;
  list-style: none;
  background-color:  #5c5c8a;
  height: 100vh;
}

.side_navList {
   list-style: none;
   margin-top: 200px;
}



























